@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary: #FF3B5C;
    --black: #000;
    --text-color: #333;
    --white: #fff;

    // default layout
    --default-layout-header-side: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
    display: block;
}

// Custom tippy tooltip
body {
    .tippy-box {
    border-radius: 8px;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow{
        color: rgba(84, 84, 84, 0.92);
    }
    
    .tippy-box[data-placement^=bottom]>.tippy-arrow:before{
        top: -8px;
    }

    .tippy-content{
        padding: 8px 9px;
    }
}